**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/docker-compose.*.yml
**/*.user
**/*.suo
**/node_modules/
**/logs/
**/*.log
**/.editorconfig
**/.github/
**/README.md
**/.gitattributes
